html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    padding:0;
}

header{
    width:100%;
    box-sizing: border-box;
    display:flex;
    padding:5% 6% ;
    justify-content: space-between;
    align-content: center;
    margin-top: 3%;
}
header div:first-child svg , header div:last-child svg{
    margin-right:16px;
}


header > div:last-child{
    display: flex;
align-items: center;
}
header img{
    width:22px;
    height: auto;
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
    .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 100vh;
    top:-25px;
    left:-28px;
    width:55vw;
    padding-left:10vw;
  }

  .close{
      width:100%;
      height: 6vh;
      padding-top:4vh;
      padding-left: 3vw;;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 600;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  .show {display:block;}


.banner{
    width:100%;
    height:300px;
    position: relative;
}

.banner img {
    height: 300px;
    width:100%
}

.mySlides{
    display:none ;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
.banner div{
    border-radius: 50%;
    background-color: #fff;
    width:40px;
    height:40px;
    margin:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    position: absolute; 
    top:40%;
}

.banner div:last-child{
right:2%;
}

.cart{
    width:95%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    left:2.5%;
    top: 10%;
    z-index:3;
    height: 250px;
    display: none;
}

.cart h3{
    position: relative;
    width:100%;
    border-bottom: 1px solid #F0EEF3;
    padding:10px 0px 20px 20px;
    font-weight: 300;
   
}

h3 svg{
    position: relative;
    right:-75%;
}

.empty{
    color:#52565d8b;
    width:100%;
    text-align: center;
    height: 150px;
    margin-top: 0;
    margin-bottom: 0;
    position:relative;
    top:50px;    
    font-weight: 600;
    display:none;
}

.full{
    position: relative;
    height: 150px;
    padding: 10px;
    display:none;
}

.show{
    display: block;
}

.fullCart{
    display: flex;
    justify-content: space-between;
    color:#52565d8b;
}
.fullCart svg{
    margin-top: 5%;
    margin-right: 2%;
}
.fullCart div:first-child{
    width:80%;
    display:flex;
    justify-content: space-between;
    align-content: center;
}

.fullCart div:first-child div{
    margin-top: 5px;
}

.fullCart div:first-child div span:last-child{
    color:#000;
}

.fullCart p {
    margin-top: 0px;
    font-size: 1.1rem;
    font-family:  Helvetica, sans-serif;
    line-height: .9;
}

.full button {
    margin-top: 2%;
    width: 100%;
    padding-top:20px;
    padding-bottom:20px;
    border:none;
    border-radius: 10px;
    background-color:#FF7D1C ;
}



.fullCart img{
    width:60px;
    height: 60px;
}

.productDetails{
 padding-left:5%;
 padding-right:5%;
}

.productDetails h5{
    color:#FF7D1C;
    font-size: 1rem;
    margin-bottom: 3%;

}

.productDetails h4{
    font-size: 1.6rem;
    margin-top: 1%;
    margin-bottom: 3%;
}

.productDetails p{
    color:#8E9091;
    font-size: 0.85rem;
    font-weight: 100;
    letter-spacing: 1px;
    font-family: sans-serif;
    margin-bottom: 8%;
    line-height: 1.5;

}

.Price{
    display: flex;
    justify-content: space-between;
}
.Price div:first-child{
display: flex;
justify-content: space-between;
align-items:center ;
width:42%;
}

.Price div:last-child{
color:#8E9091;
text-decoration: line-through;
margin-top: 2px;

}
.Price span
{
background-color:#FFECCB ;  
color:#FF7D1C; 
font-size: 1rem;
padding:4px;
margin-top: -4px;

}

.productDetails .Qty{
    background-color: #F7F8FE;
    border:none;
    width:100%;
    border-radius:10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding-top:5%;
    padding-bottom:5%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
}

.productDetails .Qty svg:first-child{
    margin-left: 8% ;
}

.productDetails .Qty svg:last-child{
    margin-right: 8% ;
}

.productDetails .Qty span{
    font-weight: 600;
}


.productDetails button{
    background-color: #FF7D1C;
    font-size: 1.3rem;
    border:none;
    width:100%;
    color:#fff;
    padding-top:5%;
    padding-bottom:5%;
    text-align: center;
    border-radius: 10px;
}

.productDetails button span{
    margin-left: 5px;
}


@media only screen and (min-width: 720px) {
    header{
        width:95%;
        margin: 0px auto 100px auto;
        padding-top: 30px;
        padding-bottom:30px;
        border-bottom: 1px solid #ECECEF;

    }

    header  > div:first-child{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
   .dropbtn svg,   .dropdown-content div:first-child
   {
       display:none;
   }
   .dropdown-content {
       display: flex;
       height: auto;
       background-color: transparent;
       box-shadow: none;
       position: static;
       padding-left: 1%;
   }

   .content{
       margin-left:  auto;
       margin-right: auto;
       width: 90%;
       display:flex;
       justify-content: space-between;
   }

   .banner{
       flex-basis: 45%;
       height: 450px;
   }

   .banner img{
    height: 450px;
    border-radius: 20px;

   }

   .banner div{
       display: none;
   }
   .productDetails{
    flex-basis: 38%;
    align-self: center;
   }

  .Price{
      flex-direction: column;
  }

  .productDetails .Price + div:last-child{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4%;
  }
  .productDetails div:last-child .Qty{
      flex-basis: 30%;
  }
  .productDetails div:last-child button{
    flex-basis: 65%;
    padding: 0px;
    height: 60px;
  }

  .productDetails h5{
      font-size: 1.1rem;
      margin-bottom: 6%;
  }

  .productDetails h4{
    margin-bottom: 9%;
    font-size: 2rem;

}


.productDetails p{
    line-height: 1.8;
}

  .Price div:first-child{
      width:35%;
  }

  .cart{
      width:30%;
      left: 0;
      right:-60%;
      box-shadow: 2px 2px 10px #888888 ;
  }

  
  }

  @media only screen and ( min-width: 1250px) {
    body {  
        width:1200px;
        margin-left: auto;
        margin-right: auto;
      }

      header{
          margin-bottom: 80px;
      }
  }




